/*:root{*/
/*    --background_image: url("https://images.unsplash.com/photo-1511497584788-876760111969?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");*/
/*    color-scheme: light;*/
/*}*/


/*!***!*/
/*.div_body{*/
/*    min-height: 100vh;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    background-size: cover;*/
/*    background-image: var(--background_image);*/
/*    !*background-image: url("https://images.unsplash.com/photo-1513165533842-2a0dd8b51a74?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");*!*/
/*}*/

/*.dark_div_body{*/
/*    --background_image: url("https://images.unsplash.com/photo-1513165533842-2a0dd8b51a74?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");*/
/*    color-scheme: dark;*/
/*}*/


:root {
    --background_image-light: url("https://images.unsplash.com/photo-1511497584788-876760111969?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    --background_image-dark: url("https://images.unsplash.com/photo-1513165533842-2a0dd8b51a74?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    --background_image: var(--background_image-light);
    color-scheme: light;
}

.dark-theme {
    --background_image: var(--background_image-dark);
    color-scheme: dark;
}

.div_body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-image: var(--background_image);
}
