:root {
    --background_image-light: url("https://images.unsplash.com/photo-1511497584788-876760111969?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    --background_image-dark: url("https://images.unsplash.com/photo-1513165533842-2a0dd8b51a74?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    --background_image: var(--background_image-light);
    --background-color-light: rgba(245, 245, 245, 0.62);
    --background-color-dark: rgba(37, 36, 36, 0.89);
    --background-color: var(--background-color-light);
    --background-color-light-2: rgba(245, 245, 245, 0.75);
    --background-color-dark-2: rgba(37, 36, 36, 0.89);
    --background-color-2: var(--background-color-light-2);
    --color-light:black;
    --color-dark: white;
    --color: var(--color-light);
    color-scheme: light;
}

.dark-theme {
    --background_image: var(--background_image-dark);
    --background-color: var(--background-color-dark);
    --background-color-2: var(--background-color-dark-2);
    --color:var(--color-dark);
    color-scheme: dark;
}

/*****layout*****/
.div_body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-image: var(--background_image);
}
.div_them_layout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div_gallery{
    /*width: 10vw;*/
    /*height: 60vh;*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.div_children{
    width: 60vw;
    display: flex;
    min-height: 100vh;
    /*margin-right: 30px;*/
    margin-left: 20px;
}
.h1_layout{
    color: white;
}
/******MoviesPage*****/
.div_MoviesPage{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div_inner_MoviesPage{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    /*align-items: center;*/
    align-content: flex-start;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    background-color: var(--background-color); /*тема*/
    box-shadow: 11px 5px 9px 1px rgba(0,0,0,0.81);/*тема*/
}
.div_img_title{
    width: 180px;
    height: 320px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color); /*тема*/
    margin: 3px;
    box-shadow: 11px 5px 9px 1px rgba(0,0,0,0.81);/*тема*/
}
.img_title{
    width: 180px;
    height: 240px;
}
.div_Lint_title{
    width: 150px;
    height: 20px;
}
.div_button_MoviesPage{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);/*тема*/
    box-shadow: 11px 5px 9px 1px rgba(0,0,0,0.81);/*тема*/
    margin: 5px 0 5px 0;
    color: var(--color);
}
.button_pagination{
    width: 60px;
    height: 30px;
    margin: 20px;
    border-radius: 4px;
    border: none;
    box-shadow: 11px 5px 9px 1px rgba(0,0,0,0.81);/*тема*/
    color: var(--color);
}
.Link_MoviesPage{
    color: var(--color);/*тема*/
}
.Link_MoviesPage:hover{
    color: darkcyan;/*тема*/
}
.p_MoviesPage{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin: 0;
    color: var(--color);/*тема*/
}
.p_MoviesPage:hover{
    color: darkcyan;/*тема*/
}
/*****search***FormComponent*****/
.div_search{
    width: 98%;
    height: 40px;
    margin: 10px;
    background-color: var(--background-color); /*тема*/
    box-shadow: 11px 5px 9px 1px rgba(0,0,0,0.81);/*тема*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div_search_login{
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.div_img_login{
    margin: 0 10px 0 1px;
}
.input_FormComponent{
    width: 200px;
    margin-left: 10px;
}

/*****search***MovieSearchPage*****/
.div_MovieSearchPage{
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div_inner_MovieSearchPage{
    min-width: 60vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color: var(--background-color); /*тема*/
    box-shadow: 11px 5px 9px 1px rgba(0,0,0,0.81);/*тема*/
}
.div_img_title_MovieSearchPage{
    width: 180px;
    height: 320px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color); /*тема*/
    margin: 5px;
    box-shadow: 11px 5px 9px 1px rgba(0,0,0,0.81);/*тема*/
}
.img_title_MovieSearchPage{
    width: 180px;
    height: 240px;
}
.div_Lint_title_MovieSearchPage{
    width: 150px;
    height: 20px;
    background-color: darkcyan;
}
.div_button_MovieSearchPage{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);/*тема*/
    box-shadow: 11px 5px 9px 1px rgba(0,0,0,0.81);/*тема*/
    margin: 5px 0 5px 0;
    color: var(--color);
}
.button_pagination_MovieSearchPage{
    width: 60px;
    height: 30px;
    margin: 20px;
    border-radius: 4px;
    border: none;
    box-shadow: 11px 5px 9px 1px rgba(0,0,0,0.81);/*тема*/
    color: var(--color);
}
.Link_MovieSearchPage{
    color: var(--color);/*тема*/
}
.Link_MovieSearchPage:hover{
    color: darkcyan;/*тема*/
}
.p_MovieSearchPage{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin: 0;
}
.img_MovieSearchPage{
    width: 300px;
    height: 300px;
}
.div_error_MovieSearchPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.h3_error_div_error_MovieSearchPage{
    color: darkred;/*тема*/
}

/*******genres***MoviesList*****/
.div_genres{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color); /*тема*/
    box-shadow: 11px 5px 9px 1px rgba(0,0,0,0.81);/*тема*/
}
.div_MoviesList{
    display: flex;
    flex-direction: column;
}
.h4_genres{
    margin: 5px;
}
.h3_genres{
    color: var(--color);/*тема*/
    text-align: center;
}
.Link_genres{
    color: var(--color);/*тема*/
}
.Link_genres:hover{
    color: darkcyan;/*тема*/
}
.p_MoviesList{
    font-size: 16px;
    font-weight: bold;
    /*margin: 20px;*/
}
/*********stars********/
.div_StarRating{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row;
    width: 150px;
    height: 100%;
}

/*******MovieInfo*****/
.div_MovieInfo{
    min-height: 100%;
    background-color: var(--background-color); /*тема*/
}
.div_inner_MovieInfo{
    /*height: 100%;*/
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*flex-direction: column;*/
    flex-wrap: wrap;
}
.div_MovieInfo_img{
    width: 200px;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.img_MovieInfo{
    width: 200px;
    height: 300px;
}
.div_h6_dop{
    background-color: var(--background-color-2);
}
.div_overview_MovieInfo{
    display: flex;
}
.div_overview_button_MovieInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color);
}
.div_button_MovieInfo{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: var(--color);
}
.button_pagination_MovieInfo{
    width: 150px;
    height: 30px;
    margin: 20px;
    border-radius: 4px;
    border: none;
    box-shadow: 11px 5px 9px 1px rgba(0,0,0,0.81);/*тема*/
    color: var(--color);
}
.Link_MovieInfo{
    color: var(--color);/*тема*/
}
.Link_MovieInfo:hover{
    color: darkcyan;/*тема*/
}
.p_MovieInfo{
    margin: 10px 40px 10px 40px;
}
.div_h6_info{
    color: var(--color);
}
/*********VideosPage***********/
.div_VideosPage{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
.div_inner_VideosPage{
    min-width: 70vw;
    min-height: 95vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    text-align: center;
    background-color: var(--background-color); /*тема*/
    box-shadow: 11px 5px 9px 1px rgba(0,0,0,0.81);/*тема*/
}
.div_button_VideosPage{
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--color);
}
.Link_VideosPage{
    color: var(--color);/*тема*/
}
.Link_VideosPage:hover{
    color: darkcyan;/*тема*/
}
/*********LoginPage***********/
.div_LoginPage_LoginPage{
    width: 80vw;
    height: 90vh;
}
.div_LoginPage{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: var(--background-color); /*тема*/
    box-shadow: 11px 5px 9px 1px rgba(0,0,0,0.81);/*тема*/
}

.form_LoginPage{
    display: flex;
    flex-direction: column;
    max-width: 300px;

}

.img_LoginPage{
    height: 150px;
    width: 320px;
}
/******them*****/
.button_them{
    margin: 20px;
    border-radius: 4px;
    border: none;
    box-shadow: 11px 5px 9px 1px rgba(0,0,0,0.81);/*тема*/
    color: var(--color);
}