.div_img_title_next{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div_title{
    width: 80%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.div_img_title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img_title{
    width: 10vw;
    height: 20vh;
}
