.div_body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.div_genres{
    width: 70%;
    height: 60px;
    border: 3px solid #cc5509;
}
.div_children{
    width: 70%;
    display: flex;
    border: 3px solid #fafa00;
}
.div_img_title_next{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 3px solid #741781;
}
.div_title{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    border: 3px solid #1d541a;
}
.div_img_title{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid cornflowerblue;
    margin: 5px;
}
.img_title{
    width: 150px;
    height: 200px;
}
.p_style{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.button_pagination{
    width: 60px;
    height: 30px;
    margin: 20px;
}

